<!-- <ion-header>
  <ion-toolbar>
    <div class="headerG">

      <ion-buttons>
        <ion-icon name="chevron-back-outline" class="icon" (click)="parent()"></ion-icon>
      </ion-buttons>

      <ion-label class="text"> event details</ion-label>
      <ion-row class="filter-row">
        <ion-icon name="options-outline" class="icon1"></ion-icon>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-content>
  <ion-grid class="main-grid"> -->
    <!-- <ion-row class="primary-row">
      <ion-row>
        <ion-button (click)="about()" id="selected">about</ion-button>
        <ion-button (click)="map()">map</ion-button>
      </ion-row>
    </ion-row> -->
    <ion-row class="image-row">
      <img src="../../../../assets/imgs/cover.jpg">
    </ion-row>
    <ion-row class="info-box">
      <ion-row class="col1">
        <ion-row>
        
        <ion-label>11:00am</ion-label>
        <img src="../../../../assets/imgs/circles.png">
        <ion-label>12:00pm</ion-label>
      </ion-row>
      
        
      </ion-row>
      <ion-row class="col2">
        <ion-row class="heading-row">
          <ion-label>"Mommy & Me" Yoga in the Rock Hall Museum Garden</ion-label>
          
        </ion-row>
        <ion-row class="price-row">
          <ion-label>0-8yo | $15</ion-label>
        </ion-row>
        <ion-row class="location-row">
          <ion-label>rock hall Museum</ion-label>
        </ion-row>
        <!-- <ion-row class="description-row">
          <ion-label>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni quisquam illo hic voluptates eos repellendus, reiciendis impedit odi.</ion-label>
        </ion-row> -->
      </ion-row>
    </ion-row>
    <ion-row class="map-row">
      <img src="../../../../assets/imgs/google-maps-error-mobile.jpg">
    </ion-row>
    <ion-row class="description-row">
      <ion-row>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis modi distinctio quaerat quidem perspiciatis? Enim earum at voluptatem debitis nostrum, vel autem minima, culpa facilis cupiditate fuga amet, veniam a. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste qui saepe ex aliquid minima voluptatibus vero ipsa! Iure molestiae omnis perspiciatis repudiandae laudantium temporibus, expedita asperiores facilis, libero veniam enim. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptate rerum accusamus assumenda inventore, neque alias commodi, nihil ea distinctio quod cupiditate tempore quam id! Facere debitis quibusdam exercitationem perferendis. </p>
        <br>
        <p *ngIf="isOpen">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rerum, temporibus nesciunt omnis aliquam voluptatibus mollitia, nemo iste numquam molestias aliquid cum doloremque, error deserunt nihil accusamus ipsam asperiores sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos adipisci, aliquam eveniet suscipit itaque quia excepturi rerum incidunt labore impedit earum! Repellat non aliquid temporibus molestiae dolore iusto similique illum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas saepe, totam porro sunt ipsa ab eum laboriosam ex quasi eaque labore? Repudiandae nulla laboriosam est minima commodi quam libero totam.</p>
        <ion-row class="secondary-row" *ngIf="isOpen">
          <ion-row class="col-one">
            <ion-label id="block">ages:</ion-label>
            <ion-label>0-8 yo ( Pre-school & younger, Young elementary)</ion-label>
          </ion-row>
          <ion-row class="col-two">
            <ion-label id="block">price:</ion-label>
            <ion-label>$12; $8 child - Advanced Registration Required</ion-label>
          </ion-row>
        </ion-row>
      </ion-row>
      <ion-row class="buttons">
        <ion-button (click)="isOpen = !isOpen">{{isOpen ? 'Read Less' : 'Read More'}}</ion-button>
        <ion-button id="call">
          <ion-icon name="call"></ion-icon>
          call
        </ion-button>
      </ion-row>
    </ion-row>
  <!-- </ion-grid> -->
<!-- </ion-content> -->