<ion-content>
  <ion-grid>
    <ion-row class="header">
      <ion-label>discover</ion-label>
    </ion-row>
    <ion-row class="row-one">
      <ion-label>Family Events in NYC in real-time</ion-label>
      <strong>+Weekend Planner!</strong>
    </ion-row>
    <ion-row class="row-one">
      <ion-label>Find personalized activities</ion-label>
      <ion-label id="break">based on <strong>your kids ages & your interests.</strong></ion-label>
    </ion-row>
    <ion-row class="row-one">
      <ion-label>Cool Features:</ion-label>
      <strong id="break">Like, Share, Add to Planner & Your Calendar!</strong>
    </ion-row>
    <ion-row class="button-row">
      <ion-button (click)="personalize()">i am ready. let's go!</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>