<ion-content>
  <ion-grid>
    <ion-row class="header">
      <ion-label>personalize</ion-label>
    </ion-row>
    <ion-row class="age-row">
      <ion-label>Choose Your Kid(s) AGES:</ion-label>
      <ion-row class="button-rows">
        <ion-row class="col">
          <ion-button>ALL</ion-button>
          <ion-button>0-2</ion-button>
        </ion-row>
        <ion-row class="col">
          <ion-button>3-5</ion-button>
          <ion-button>6-8</ion-button>
        </ion-row>
        <ion-row class="col">
          <ion-button>9-12</ion-button>
          <ion-button>13-17</ion-button>
        </ion-row>
      </ion-row>
    </ion-row>
    <ion-row class="interests">
      <ion-label>Choose Your INTERESTS:</ion-label>
      <ion-row class="buttons-row ">
        <ion-row class="col">
          <ion-button>theater</ion-button>
          <ion-button>music</ion-button>
          <ion-button>fairs and festival</ion-button>
        </ion-row>
        <ion-row class="col">
          <ion-button>arts & crafts</ion-button>
          <ion-button>outdoors & recreation</ion-button>
          <ion-button>storytelling</ion-button>
        </ion-row>
      </ion-row>
    </ion-row>
    <ion-row class="button" (click)="home()">
      <ion-button>start exploring!</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>